<footer>
    <div class="footer-inner">
        <div class="menu">

            <ul>
                <h5 id="menu-footer">Menu</h5>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Historia</a></li>
                <li><a href="#">Actividades</a></li>
                <li><a href="https://www.ielco.org/" target="_blank">Pagina Oficical Ielco</a></li>
                <li><a href="https://www.taize.fr/es" target="_blank">Pagina Oficial Taize</a></li>
            </ul>
        </div>
        <div class="contacto">
            <div class="wrap">
                <h5>Contacto</h5>
                <a href="mailto:Taize@ielco.org?subject=Asunto:&body=Mensaje:">
                    <i class="fas fa-envelope"></i>
                    <p>Taize@ielco.org</p>
                </a>
                <a href="#">
                    <i class="fas fa-phone-square"></i>
                    <p>(+57) 3101111111</p>
                </a>
            </div>
        </div>
        <div class="formulario">
            <form method="POST" action="/send" id="send-form">
                <h5>Dejanos un mensaje</h5>
                <div class="form-control">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Escribe aqui tu nombre">
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="correo">Correo</label>
                    <input type="text" name="correo" id="correo" placeholder="Escribe aqui tu correo">
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="mensaje">Mensaje</label>
                    <textarea name="mensaje" id="mensaje" placeholder="Escribe Aqui Tu Mensaje"></textarea>
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <button class="btn" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    <h6 id="copy">&copy; Voluntarios-Taize-Ielco 2020 | Desarrollado por Cristian Bernal</h6>
</footer>
</div>


<script type="text/javascript" src="/js/bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>