.sobre {
  @include respond(phone) {
    flex-direction: column-reverse;
  }
  #video-actividades {
    @include respond(phone) {
      iframe {
        width: 100%;
      }
    }
  }

  .p-sob-taz {
    text-align: justify;
    padding: 1rem 0;
  }
}
