<%- include("./partials/header") %>

<main class="main">
    <div class="row sobre">
        <div class="col-lg-6">
            <h1>Actividades</h1>
            <div id="video-actividades">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/UAVX2TUYJkA"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6">
            <p class="p-sob-taz">
                Proin fermentum leo vel orci. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Mauris
                commodo quis imperdiet massa tincidunt nunc. Et tortor consequat id porta nibh venenatis cras sed felis.
                Curabitur vitae nunc sed velit dignissim sodales ut. Eget gravida cum sociis natoque penatibus et. Nec
                nam aliquam sem et tortor consequat id porta. Enim sed faucibus turpis in. Commodo viverra maecenas
                accumsan lacus vel facilisis volutpat est velit. Nisl nunc mi ipsum faucibus vitae. Posuere urna nec
                tincidunt praesent semper feugiat nibh sed pulvinar. Cras semper auctor neque vitae tempus quam.
                Pellentesque elit eget gravida cum sociis natoque penatibus. Habitant morbi tristique senectus et netus
                et malesuada. Amet porttitor eget dolor morbi non. Elit at imperdiet dui accumsan. In hac habitasse
                platea dictumst vestibulum. Est ullamcorper eget nulla facilisi etiam dignissim diam. Tincidunt ornare
                massa eget egestas.
            </p>
        </div>
    </div>


</main>






<%- include("./partials/footer") %>