<%- include("./partials/header") %>

<main class="main">

        <h1>Nuestra Historia</h1>

        <p class="historia">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Facilisis volutpat est velit egestas dui id ornare arcu. Enim praesent elementum facilisis
                leo vel
                fringilla est. Ipsum consequat nisl vel pretium lectus quam id. Nunc sed id semper risus in hendrerit.
                Porttitor
                eget dolor morbi non arcu risus. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus. Enim tortor at
                auctor
                urna nunc id cursus. Tortor pretium viverra suspendisse potenti nullam. Ultrices sagittis orci a
                scelerisque
                purus semper eget duis at. Adipiscing elit duis tristique sollicitudin nibh sit. Suspendisse sed nisi
                lacus sed
                viverra. Sit amet tellus cras adipiscing. Maecenas sed enim ut sem viverra aliquet eget sit amet. Nulla
                facilisi
                morbi tempus iaculis. Id consectetur purus ut faucibus pulvinar elementum integer enim. Tempus iaculis
                urna id
                volutpat lacus laoreet. Nibh praesent tristique magna sit amet purus. Eget magna fermentum iaculis eu
                non diam
                phasellus vestibulum lorem.

                Mattis aliquam faucibus purus in massa. Nunc sed blandit libero volutpat sed cras. Sit amet volutpat
                consequat
                mauris nunc congue nisi vitae. Dignissim suspendisse in est ante in. Maecenas accumsan lacus vel
                facilisis
                volutpat est. Tortor id aliquet lectus proin. Eros donec ac odio tempor orci dapibus ultrices in
                iaculis.
                Pretium fusce id velit ut tortor pretium viverra suspendisse. Mi proin sed libero enim sed faucibus
                turpis in
                eu. Et magnis dis parturient montes nascetur ridiculus mus mauris vitae. Nunc sed velit dignissim
                sodales ut eu
                sem. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Pellentesque elit
                ullamcorper
                dignissim cras. Eu scelerisque felis imperdiet proin fermentum. Pellentesque dignissim enim sit amet. At
                erat
                pellentesque adipiscing commodo elit at imperdiet dui. Consequat interdum varius sit amet mattis. Ut sem
                nulla
                pharetra diam sit amet nisl suscipit. Dapibus ultrices in iaculis nunc sed.

        </p>

        <section class="gallery">
                <figure class="gallery__item gallery__item--1"><img src="/img/20180421_170121.jpg" alt="Gallery image 1"
                                class="gallery__img wow animate__animated animate__slideInUp animate__slow">
                </figure>
                <figure class="gallery__item gallery__item--2"><img src="/img/IMG_9927.jpg" alt="Gallery image 2"
                                class="gallery__img wow animate__animated animate__slideInRight animate__slow">
                </figure>
                <figure class="gallery__item gallery__item--3"><img src="/img/IMG_7317.jpg" alt="Gallery image 3"
                                class="gallery__img wow animate__animated animate__slideInDown animate__slow">
                </figure>
                <figure class="gallery__item gallery__item--4"><img src="/img/IMG-20200302-WA0015.jpg"
                                alt="Gallery image 4"
                                class="gallery__img wow animate__animated animate__slideInLeft animate__slow">
                </figure>
                <figure class="gallery__item gallery__item--5"><img src="/img/IMG-20190921-WA0004.jpg"
                                alt="Gallery image 5"
                                class="gallery__img wow animate__animated animate__slideInUp animate__slow">
                </figure>
                <figure class="gallery__item gallery__item--6"><img src="/img/IMG-20180520-WA0013.jpg"
                                alt="Gallery image 6"
                                class="gallery__img wow animate__animated animate__slideInRight animate__slow">
                </figure>
                <figure class="gallery__item gallery__item--7"><img src="/img/nvVjMj04.jpeg" alt="Gallery image 7"
                                class="gallery__img wow animate__animated animate__slideInDown animate__slow">
                </figure>
                <figure class="gallery__item gallery__item--8"><img src="/img/IMG-20160506-WA0069.jpg"
                                alt="Gallery image 8"
                                class="gallery__img wow animate__animated animate__slideInLeft animate__slow">
                </figure>
                <figure class="gallery__item gallery__item--9"><img src="/img/IMG-20160424-WA0019.jpg"
                                alt="Gallery image 9"
                                class="gallery__img wow animate__animated animate__slideInUp animate__slow">
                </figure>
                <figure class="gallery__item gallery__item--10"><img src="/img/IMG_6978.jpg" alt="Gallery image 10"
                                class="gallery__img wow animate__animated animate__slideInRight animate__slow"></figure>
                <figure class="gallery__item gallery__item--11"><img src="/img/IMG-20151015-WA0029.jpg"
                                alt="Gallery image 11"
                                class="gallery__img wow animate__animated animate__slideInDown animate__slow"></figure>
                <figure class="gallery__item gallery__item--12"><img src="/img/635760510612861407.jpg"
                                alt="Gallery image 12"
                                class="gallery__img wow animate__animated animate__slideInLeft animate__slow"></figure>
                <figure class="gallery__item gallery__item--13"><img src="/img/20180421_175512.jpg"
                                alt="Gallery image 13"
                                class="gallery__img wow animate__animated animate__slideInUp animate__slow"></figure>
                <figure class="gallery__item gallery__item--14"><img src="/img/DQMuUs7Q.jpeg" alt="Gallery image 14"
                                class="gallery__img wow animate__animated animate__slideInRight animate__slow"></figure>


        </section>
</main>






<%- include("./partials/footer") %>