<%- include("./partials/header") %>

<main class="main">
    <section class="about-taize">
        <h1>¿Que es la comunidad de Taize?</h1>

        <article>
            La Comunidad de Taizé es una comunidad monástica cristiana ecuménica, fundada en 1940 por el teólogo suizo
            Roger
            Schutz, conocido como Hermano Roger, en la localidad de Taizé, Francia, que continúa siendo su sede. Es
            reconocida mundialmente como un foco de ecumenismo.
            <br></br>
            La Comunidad de Taizé se ha ido desarrollando a lo largo de los años. Actualmente, se compone de un centenar
            de
            hermanos originarios de una treintena de países y que son cristianos procedentes de diversas confesiones. La
            Comunidad es un signo visible y palpable de la reconciliación y unidad de los cristianos. La Comunidad no
            acepta
            ningún donativo y los hermanos se ganan la vida con su trabajo, y sus herencias personales las dan a los más
            pobres. Hay pequeñas fraternidades de hermanos en los barrios pobres de Asia, América del Sur y del Norte y
            África.
            <br></br>
            Los momentos importantes en Taizé están marcados por la oración común, que tiene lugar en la Iglesia de la
            Reconciliación tres veces al día. Al son de las campanas se paralizan los trabajos, los encuentros, y todos,
            jóvenes, mayores y niños, se reúnen con los hermanos para la oración.
            <br>
            La pequeña comunidad monástica se centra en la oración, la meditación cristiana y la reconciliación.
            <br>
            Taizé ha creado un estilo único musical que refleja la naturaleza meditativa de la comunidad. En la música
            de
            Taizé se repiten, o se cantan en canon frases sencillas, normalmente versos de los Salmos. Y tienen
            encuentros
            todos los años en distintos países.
        </article>

        <div class="about-taize__video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/M-hybuhxJg8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>

    </section>
</main>



<%- include("./partials/footer") %>